/* Styles go here */

.users .filters {
    margin-top: 22px;
}

.users .user{
  height: 160px;
  position: relative;
  border: 1px solid #363b3f;
  width: 160px;
  background-color: #363b3f;
  color: #000;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.users .user .content {
  margin: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 130px;
  height: 33%;
}

.users .user .actions {
    position: absolute;
    right: 0;
    bottom: 0;
}

.users .actions a{
  color: #fff;
}

.users .photo {
    width: 100%;
    height: 100%;
}

.users .checkin {
    background-color: green;
}

.users .lunch {
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}
